// Reset styles
@import 'reset';

// Variables
@import 'variables';

// Base styles
@import 'base/general';

// Components
@import 'components/card/card';
@import 'components/button/button';

@import 'bellows-ui/dist/bellows-theme.css';
@import 'bellows-ui/dist/bellows.css';

// Fixed-sticky styles
@import 'fixed-sticky/fixedsticky.css';

.fixedsticky.fixedsticky__header {
    top: 0;
}

.fixedsticky.fixedsticky__footer {
    bottom: 0;
}

// Playground styles
// ---

.playground-header,
.playground-footer {
    z-index: $stage-layer;
}
